{{- /*
// GoToSocial
// Copyright (C) GoToSocial Authors admin@gotosocial.org
// SPDX-License-Identifier: AGPL-3.0-or-later
*/ -}}

{{- with . }}
<div class="preview-card">
    {{- if and (eq .Type "video") .EmbedURL }}
    <div class="preview-card-player">
        <iframe
            src="{{- .EmbedURL -}}"
            title="{{- .Title -}}"
            loading="lazy"
            allow="accelerometer; autoplay; encrypted-media; picture-in-picture"
            allowfullscreen
        ></iframe>
    </div>
    {{- else }}
    <a class="{{- if .Image }}with-image{{ end -}}" href="{{- .URL -}}" rel="nofollow noreferrer noopener" target="_blank">
        {{- with .Image }}
        <img class="preview-card-image" src="{{- . -}}" alt="" loading="lazy" referrerpolicy="no-referrer">
        {{- end }}
        <div class="preview-card-content">
            <strong>{{- .Title -}}</strong>
            {{- with .Description }}<p>{{- . -}}</p>{{- end }}
            {{- with .ProviderName }}<span>{{- . -}}</span>{{- end }}
        </div>
    </a>
    {{- end }}
</div>
{{- end }}
